# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Riley Hardy	
	email = 54298858+rileyjhardy@users.noreply.github.com
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[branch]
	sort = -committerdate
[diff]
	algorithm = histogram
[core]
	excludesfile = /Users/rhardy/.gitignore_global
	editor = code --wait
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[init]
	templateDir = /Users/rhardy/.git-templates/git-secrets
